Semantics exactly-once

OP1 input ops 1992
rep fact 1 routing random
address tcp://1.2.3.4:11000/protege-of-the-d-r-e
operator spec UNIQ 2

OP2 input ops the.chronic
rep fact 1 routing primary
address tcp://1.2.3.4:11000/dr-dre
operator spec DUP

OP3 input ops the.documenatry
rep fact 1 routing hashing(2005)
address tcp://1.2.3.4:11000/the-game
operator spec COUNT

OP4 input ops 2001
rep fact 1 routing hashing(1999)
address tcp://1.2.3.4:11000/the-d-r-e
operator spec FILTER 3,=, "www.tecnico.ulisboa.pt"

OP5 input ops 2001
rep fact 1 routing hashing(1999)
address tcp://1.2.3.4:11000/the-d-r-e
operator spec CUSTOM lax.dll, TheGame, DrDre