1 INPUT_OPS 1992
REP_FACT 1 routing random
ADDRESS tcp://1.2.3.4:11000/protege-of-the-d-r-e
OPERATOR_SPEC UNIQ 2

2 INPUT_OPS the.chronic
REP_FACT 1 routing primary
ADDRESS tcp://1.2.3.4:11000/dr-dre
OPERATOR_SPEC DUP

3 INPUT_OPS the.documenatry
REP_FACT 1 routing hashing(2005)
ADDRESS tcp://1.2.3.4:11000/the-game
OPERATOR_SPEC COUNT

4 INPUT_OPS 2001
REP_FACT 1 routing hashing(1999)
ADDRESS tcp://1.2.3.4:11000/the-d-r-e
OPERATOR_SPEC FILTER 3,"=","www.tecnico.ulisboa.pt"

5 INPUT_OPS 2001
REP_FACT 1 routing hashing(1999)
ADDRESS tcp://1.2.3.4:11000/the-d-r-e
OPERATOR_SPEC CUSTOM lax.dll,TheGame,DrDre